-r .runtime/ComfyUI/requirements.txt
torch==2.10.0+cu128
torchvision==0.25.0+cu128
torchaudio==2.10.0+cu128
comfy-kitchen==0.2.31
hydra-core==1.3.2
pytest==8.4.2
pyarrow==20.0.0
pandas==2.3.3
accelerate==1.14.0
numpy==1.26.4
h5py==3.14.0
wandb==0.23.1
